extends /layouts/login

block title
  title #{__('login.login')} - #{config('app.name', 'Laravel')}

block content
  form.form-horizontal(method='POST', action=route('login'))
    != csrf_field()

    .form-group(class={ 'has-error': errors.has('email') })
      label.control-label(for='email') #{__('strings.email')}

      div
        input#email.form-control(
          type='email',
          name='email',
          value=old('email'),
          required, autofocus
        )

        if errors.has('email')
          span.help-block
            strong #{errors.first('email')}
        
    .form-group(class={ 'has-error': errors.has('password') })
      label.control-label(for='password') #{__('strings.password')}

      div
        input#password.form-control(
          name='password',
          type='password',
          required
        )

        if errors.has('password')
          span.help-block
            strong #{errors.first('password')}

    #boxes.form-group
      .d-flex.justify-content-between
        
        .custom-control.custom-checkbox
          input#remember.custom-control-input(
            type='checkbox',
            checked=old('remember'),
            name='remember',
          )
          label.custom-control-label(for='remember') #{__('login.keep_connected')}

        a.btn.btn-link.text-secondary#reset-password(href=route('password.request'))
          i.fa.fa-question-circle(aria-hidden='true')
          | &nbsp;#{__('login.forgot_password')}

    .form-group
      div
        button.btn.btn-primary(type='submit') #{__('login.login')}
        a.btn.btn-primary.float-right(href=route('register')) #{__('login.register')}
