doctype
html.login(lang=app()->getLocale())
  head
    include /components/head
  body
    #login-screen.container-fluid
      #login-row.row
        #login-col.col-12.col-md-6.col-sm-12.col-lg-4
          a(href=url('/'))
            #logo
              img.d-inline-block.align-top(
                src=image('logo.png'),
                height="36",
                alt='logo'
              )
          block content
        #login-background.col-12.col-md-6.col-sm-12.col-lg-8(
          style={
            background: 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + image('background-login.jpg') + ') no-repeat center / cover'
          }
        )
          #welcome
            h1 #{__('strings.welcome')}!
            .sub-text #{__('login.description')}
    a(href='https://github.com/alefesouza/laravel-vue-boilerplate', target='_blank')
      img(
        style={ position: 'absolute', top: 0, right: 0, border: 0 }, src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png',
        alt='Fork me on GitHub',
      )
